/* Other rules */
* {
  box-sizing: border-box;
}

:root {
  --header: #273338;
  --bg: #eceff1;
  --text: ##919da2;
  --odd: #f7f7f7;
  --dim: 46px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background-color: var(--bg);
}

/* Titles */
h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: var(--header);
  padding: 20px 0;
  color: #fff;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logged span {
  font-size: 18px;
  line-height: 18px;
  margin-right: 30px;
}

header .logged img {
  vertical-align: middle;
  width: var(--dim);
  height: var(--dim);
  border-radius: 50%;
  background-color: #fff;
}

/* Contenu */
.monospace {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  width: 100%;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
}

table th {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

/* THEAD */

table thead {
  border-radius: 5px;
}

table thead tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  width: 95%;
  margin: 0 auto;
}

/* TBODY */

table tbody {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

table tbody tr {
  display: flex;
  height: 40px;
  padding: 0 10px;
  align-items: center;
  justify-content: space-around;
}

table tbody tr:nth-child(odd) {
  background-color: var(--odd);
}

table tbody td {
  text-align: left;
  flex: 3;
}

table tbody td:first-child {
  color: rgba(0, 0, 0, 0.4);
  flex: 1;
}

table tbody td:last-child {
  text-align: right;
}

/* Button */
button {
  border: none;
  background-color: var(--odd);
  padding: 7px 15px;
  color: #545454;
  align-self: flex-end;
  border-radius: 5px;
  margin-top: 20px;
}

button label {
  text-transform: uppercase;
  font-size: 13px;
}
